/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.chess{  
    -fx-border-style: none;     
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url('../imgs/chessboard.png');     
    }